<nb-card size="medium" >
  
  <nb-card-header>
    <span> {{operatorName}} </span>
  </nb-card-header>

  <nb-list class="user-activity-list">
    
    <nb-list-item >
      <div class="visited-date"> Bonus </div>
      <div class="visited-pages-count">
        <div class="value"> 2500.00 </div>
      </div>
    </nb-list-item>
    <nb-list-item >
      <div class="visited-date"> PDV </div>
      <div class="visited-pages-count">
        <div class="value">523000.00</div>
      </div>
    </nb-list-item>
      
    <nb-list-item >
      <div class="visited-date"> Primaire </div>
      <div class="visited-pages-count">
        <div class="value">6231000.00</div>
      </div>
    </nb-list-item>
    
    <nb-list-item >
      <div class="visited-date"> Master </div>
      <div class="visited-pages-count">
        <div class="value"> 456000.00 </div>
      </div>
    </nb-list-item>
    
    <nb-list-item >
      <div class="visited-date"> SMS </div>
      <div class="visited-pages-count">
        <div class="value"> 756200.00 </div>
      </div>
    </nb-list-item>
    
    <nb-list-item >
      <div class="visited-date"> ReadSMS</div>
      <div class="visited-pages-count">
        <div class="value"> 45200.00 </div>
      </div>
    </nb-list-item>
    
    <nb-list-item >
      <div class="visited-date"> Activation </div>
      <div class="visited-pages-count">
        <div class="value"> 45000.00 </div>
      </div>
    </nb-list-item>
    
    <nb-list-item >
      <div class="visited-date"> Total</div>
      <div class="visited-pages-count">
        <div class="value"> 1456000.00 </div>
      </div>
    </nb-list-item>

  </nb-list>

</nb-card>
