
<!-- ****************************************************** -->
<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
        <div class="button-row">
          <button mat-raised-button style="background-color: #206ea1; color: white"><i class="material-icons"> refresh </i> Actualiser</button>
          <button mat-raised-button color="warn"><i class="material-icons"> import_export </i> Exporter</button>
        </div>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-4 col-xl-4">
    <ngx-stock-operator operatorName="DJEZZY" ></ngx-stock-operator>
  </div>

  <div class="col-xxxl-4 col-xl-4">
    <ngx-stock-operator operatorName="MOBILIS"></ngx-stock-operator>
  </div>

  <div class="col-xxxl-4 col-xl-4">
    <ngx-stock-operator operatorName="OOREDOO"></ngx-stock-operator>
  </div>

</div>

<div class="row">
  <nb-card accent="info">
    <nb-card-header>
      <span class="h6 name bold">Solde total: </span>
      <span class="h6 text-info">562000.00</span>
    </nb-card-header>
  </nb-card>
</div>
